<div class="table-cases-comp">
    <div class="loading-mask" *ngIf="!isDataLoaded">
        <app-loading-mask ></app-loading-mask>
    </div>
    <div class="table-cases-content" *ngIf="isDataLoaded && !isError">
        <header>Total cases number</header>
        <div>
            <table>
                <tr class="confirmed">
                    <td>Confirmed</td>
                    <td>{{data.confirmed}}</td>
                </tr>
                <tr class="recovered">
                    <td>Recovered</td>
                    <td>{{data.recovered}}</td>
                </tr>
                <tr class="deaths">
                    <td>Deaths</td>
                    <td>{{data.deaths}}</td>
                </tr>
                <tr class="active">
                    <td>Active</td>
                    <td>{{data.active}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="isDataLoaded && isError">
        <h2>Error</h2>
    </div>
</div>

<!--<app-loading-mask class="loading-mask" *ngIf="!isDataLoaded"></app-loading-mask>-->