<div class="table-cases-comp">
    <header>Number of total cases</header>
    <table>
        <tr class="confirmed">
            <td>Confirmed</td>
            <td>{{data.confirmed}}</td>
        </tr>
        <tr class="recovered">
            <td>Recovered</td>
            <td>{{data.recovered}}</td>
        </tr>
        <tr class="deaths">
            <td>Deaths</td>
            <td>{{data.deaths}}</td>
        </tr>
        <tr class="active">
            <td>Active</td>
            <td>{{data.active}}</td>
        </tr>
    </table>
</div>