.pill-nav {
    border: 2px #ffffff solid;
    width: 17rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(212, 200, 189);
        text-decoration: none;
        font-size: 1.5rem;
        height: 10rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    a:hover {
        background-color: #929296 ;
        transform: translateY(-10px);
        transition: 0.8s;
      }

    a.active {
        background-color:#ffffff;
        color: #000000;
      }

    a.active:hover {
        transform: none;
      }
}